<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Portfólio Web Alunos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>​

    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>​

<body>
    <div class="d-flex">
        <nav class="sidebar bg-light d-flex flex-column">
            <div>
                <div class="sidebar-logo text-center py-3">
                    <a href="/home">
                        <img src="/images/logo.png" alt="Logo" style="max-width: 100px;">
                    </a>
                </div>

                <h5 class="sidebar-title text-center py-3 border-bottom">Menu</h5>
                <ul class="nav flex-column">

                    {{#if aluno}}
                        <li class="nav-item">
                            <a class="nav-link" href="/visualizarUsuario/{{usuarioId}}">Meu Perfil</a>
                        </li>
                    {{/if}}

                    {{#if admin}}
                        <li class="nav-item">
                            <a href="#submenuUsuario" data-toggle="collapse" class="nav-link dropdown-toggle">Usuário</a>
                            <ul class="collapse list-unstyled ml-3" id="submenuUsuario">
                                <li><a href="/cadastrarUsuario" class="nav-link">Cadastrar</a></li>
                                <li><a href="/listarUsuario" class="nav-link">Listar</a></li>
                            </ul>
                        </li>
                    {{/if}}

                    {{#if aluno}}
                        <li class="nav-item">
                            <a href="#submenuProjeto" data-toggle="collapse" class="nav-link dropdown-toggle">Projeto</a>
                            <ul class="collapse list-unstyled ml-3" id="submenuProjeto">
                                <li><a href="/cadastrarProjeto" class="nav-link">Cadastrar</a></li>
                                <li><a href="/listarProjeto" class="nav-link">Listar</a></li>
                            </ul>
                        </li>
                    {{else}}
                        <li class="nav-item">
                            <a href="/listarProjeto" class="nav-link">Projeto</a>
                        </li>
                    {{/if}}

                    {{#if admin}}
                        <li class="nav-item">
                            <a href="#submenuConhecimento" data-toggle="collapse" class="nav-link dropdown-toggle">Conhecimento</a>
                            <ul class="collapse list-unstyled ml-3" id="submenuConhecimento">
                                <li><a href="/cadastrarConhecimento" class="nav-link">Cadastrar</a></li>
                                <li><a href="/listarConhecimento" class="nav-link">Listar</a></li>
                            </ul>
                        </li>
                    {{else}}
                        <li class="nav-item">
                            <a href="/listarConhecimento" class="nav-link">Conhecimento</a>
                        </li>
                    {{/if}}

                    {{#if admin}}
                        <li class="nav-item">
                            <a href="#submenuPalavra" data-toggle="collapse" class="nav-link dropdown-toggle">Palavra-chave</a>
                            <ul class="collapse list-unstyled ml-3" id="submenuPalavra">
                                <li><a href="/cadastrarPalavraChave" class="nav-link">Cadastrar</a></li>
                                <li><a href="/listarPalavraChave" class="nav-link">Listar</a></li>
                            </ul>
                        </li>
                    {{/if}}
                </ul>
            </div>

            <div class="mt-auto p-3 border-top">
                {{#if login}}
                    <a href="/logout" class="btn btn-danger btn-block">Logout ({{login}})</a>
                {{else}}
                    <a href="/login" class="btn btn-success btn-block">Login</a>
                {{/if}}
            </div>

        </nav>

        <div class="content flex-grow-1 p-4">
            {{{body}}}
        </div>
    </div>
</body>
</html>