<form action="/editarProjeto" method="post">
    <input type="hidden" name="id" value={{projeto.id}}>
    <div class="form-group">
        <label for="inputNome">Nome</label>
        <input type="text" class="form-control" id="inputNome" name="nome" value="{{projeto.nome}}">
    </div>
    <div class="form-group">
        <label for="inputResumo">Resumo</label>
        <textarea type="text" class="form-control" id="inputResumo" name="resumo" rows="5" value="{{projeto.resumo}}">
    </div>
    <div class="form-group">
        <label for="inputLink">Link</label>
        <input type="text" class="form-control" id="inputLink" name="link"  value="{{projeto.link}}">
    </div>
    <div class="form-group">
        <label for="inputPalavraChave">Palavra-Chave</label>
        <input type="number" class="form-control" id="inputPalavraChave" name="tipo"  value="{{projeto.palavraChave}}">
        <!-- colocar as palavras chaves, sendo 0, 1 ou + -->
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
</form>
